.detail{
    margin: 60px 20px;
}
.detail-img{
    border-radius: 10px;
}
.text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: initial;
}
.form-booking{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.form-booking input{
    width:60%;
    margin:10px;
}
.form-booking textarea{
    width:60%;
}
.button-custom{
    padding: 7px 35px;
    border-radius: 10px;
    margin:10px;
    background-color: #df6a29;
    border-color: #df6a29;
}
.logo-booking{
    color:#df6a29;
}