.logo{
    background-color: #ff681a;
    border-radius: 50px;
    height: 100%;
    width: 75%;
    padding: 4px 10px;
}
.logo i{
    margin-top:10px;
}
.title-orange{
    color:#ff681a;
    margin: 40px 20px;
}